@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

html,
body {
  width: 100%;
  background-color: #eaeaea;
  color: #eaeaea;
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
}

.cover {
  width: 100%;
  height: 700px;
  background: no-repeat center 30% url(./Early_Orange.jpg);
  background-size: cover;
  margin: 0 0 30px 0;
  padding: 10px 25px;
  color: #fa8334;
  text-shadow: -1px -1px 0 #eaeaea, 1px -1px 0 #eaeaea, -1px 1px 0 #eaeaea, 1px 1px 0 #eaeaea;
  border-radius: 0;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 70%;
  margin: 0 auto;
  max-width: 900px;
  padding: 75px 25px 75px 25px;
  color: #0c120c;
}

.content a {
  color: #0c120c;
}

.content a:hover {
  color: #fa8334 !important;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social span {
  margin: 5px auto;
}

.social a {
  color: #0c120c;
}

.social a:hover {
  color: #fa8334;
}

.social a p {
  display: none;
}

.divider {
  height: 70px;
  width: 100%;
  text-align: center;
  display: flex;
}

.divider div {
  align-self: center;
  padding: 20px 0;
}

.divider div a {
  display: inline-block;
  color: #1E2019;
  margin: 10px 6px 0 6px;
}

.divider div a:hover {
  color: #fa8334;
}

.divider h1 {
  align-self: center;
  margin: 0 auto;
  line-height: 40px;
  font-size: 40px;
  font-weight: 500;
  color: #fa8334;
  width: 100%;

}

.divider-right-bottom {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 60%);
}

.divider-right {
  clip-path: polygon(0 100%, 100% 65%, 100% 0, 0 35%);
}

.divider-left {
  clip-path: polygon(0 65%, 100% 100%, 100% 35%, 0 0);
}

.gallery-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

}

.gallery-1 div {
  width: 45%;
  max-width: 390px;
  min-width: 150px;
  flex-grow: 2;
  align-items: center;
  align-self: center;
  margin: 10px auto;
  padding: 0 0 0 0;
  border: 20px solid #fff;
  border-bottom: 40px solid #fff;
  -webkit-box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 3px;
}

.gallery-2 {
  text-align: center;
}

.gallery-1 div {
  width: 45%;
  max-width: 390px;
  min-width: 150px;
  flex-grow: 2;
  align-items: center;
  align-self: center;
  margin: 10px auto;
  padding: 0 0 0 0;
  border: 20px solid #fff;
  border-bottom: 40px solid #fff;
  -webkit-box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 71px -12px rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 3px;

}

.gallery-1 img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -22px;
}

.gallery-1 span,
.gallery-2 span {
  position: relative;
  top: 27px;
  font-weight: bold;
}

.gallery-2 img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -22px;
}

.gallery-2 div {
  max-width: 700px;
  min-width: 150px;
  flex-grow: 2;
  align-items: center;
  align-self: center;
  margin: 10px auto;
  padding: 0 0 0 0;
  border: 20px solid #fff;
  border-bottom: 40px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}